@import "../../../utils/variables.scss";
.footer {
    .footer-container {
        display: flex;
        justify-content: space-evenly;
        .footer-header {
            color: $dark-green;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
        }
        ul {
            margin-top: 1rem;
            li {
                text-align: center;
                margin-top: 0.5rem;
                transition: 0.3s all ease-in-out;
            &:hover{
                cursor: pointer;
                    color: #6b5959;
                    padding-left: 10px;
            }
            }
        }
        .left {
            width: 33%;
            padding-top: 6rem;
        }
       
        .center {
            width: 33%;
            display: flex;
            flex-direction: column;
            
            p {
                color: $dark-green;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: center;
                
                &:nth-child(4){
                    margin-top: 1rem;
                }
                &:nth-child(7){
                    margin-top: 1rem;
                }
            }
            
            .footer-logo {
                margin: 0 auto;
                width: 132px;
                height: 200px;
            }
        }
        .right {
            width: 33%;
            padding-top: 6rem;
        }
        .footer-logo-display{
            display: none;
        }
    }
    .end{
        display: flex;
        justify-content: center;
        .logo-img{
            margin: 1rem;
            transition: 0.3s all ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
       
    }
    .cards-img{
        display: block;
        margin: 0 auto;
        width: 30%;
    }
    .end-text{
        text-align: center;
        margin: 1rem;
    }
}
@media (max-width: 785px)  {
}
@media (max-width: 500px) {
.footer{
    .footer-container{
        flex-direction: column;
        .left{
            width: 100%;
            border-bottom: 1px solid $dark-pink;
            padding: 1rem; 
        }
        .center{
            padding-top: 2rem;
            width: 100%;
            order: 3;
            p{
                line-height: 19px;
            }
            .footer-logo{
                display: none;
            }
        }
        .right{
            width: 100%;
            border-bottom: 1px solid $dark-pink;
            padding-bottom: 1rem;
            padding-top: 2rem;
        }
        .footer-logo-display{
            display: block ;
            text-align: center;
        }
    }
    .end-text{
        font-size: 11px;
    }
    .cards-img{
        width: 90%;
    }
}
}