@import "../../../utils/variables.scss";
.subscribe {
    .questions-header {
        background-color: $dark-pink;
        margin-top: 5rem;
        h3 {
            text-align: center;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            color: $dark-green;
            padding-top: 1rem;
        }
        p {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: $dark-green;
        }
        .send-email {
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;
            padding-bottom: 1rem;
            position: relative;
            input {
                width: 25%;
                height: 50px;
                border-radius: 5px;
                border: none;
                padding: 10px;
                transition: 0.5s all ease-in-out;
                font-size: 18px;
                &:hover {
                    margin-right: 30px;
                }
            }
            .send-img {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 10px;
                right: 38%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .subscribe{
    .questions-header {
        h3 {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.84px;
            text-align: center;
        }
        p {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.9px;
            text-align: center;
        }
        .send-email {
            input {
                width: 90%;
                &:hover {
                    margin-right: 0;
                    transform: scale(1.05);
                }
            }
            .send-img {
                right: 5%;
            }
        }
    }
}
}