@import "../../../utils/variables.scss";
.follow {
    .follow-header {
        color: $dark-green;
        margin-top: 6rem;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
    }
    .follow-address {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $dark-green;
        border-bottom: 1px solid $dark-green;
        width: 18rem;
        margin: 0 auto;
        transition: 0.2s all ease-in-out;
        &:hover {
            color: $dark-pink;
            border-bottom: 1px solid $dark-pink;
        }
    }
    .follow-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        .follow-flex {
            width: 27%;
            .img-flowers {
                width: 100%;
                padding: 0.3rem;
                transition: 0.3s all ease-in-out;
                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .follow {
        div {
            .follow-header {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 700;
                line-height: 29.8px;
                text-align: center;
                margin-top: 2rem;
            }
            .follow-address{
                font-size: 15px;
                width: 12rem;
            }
        }
        .follow-container{
            .follow-flex{
                width: 32%;
            }
        }
    }
}
